.oauth a {
  text-decoration: none;
  background: #239cbb;
  box-sizing: border-box;
  min-height: 35px;
  width: auto;
  display: inline-block;
  margin-bottom: 10px;
  padding: 0.9em 1.37em;
  cursor: pointer;
  color: #fff !important;
  font-size: 12px;
  line-height: 13px;
  font-weight: 300;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-shadow: none;
  border-radius: 0.2em;
  border: rgba(0,0,0,0.05) 0.1em solid;
  -webkit-transition: background 0.3s ease, border-color 0.3s ease;
  -moz-transition: background 0.3s ease, border-color 0.3s ease;
  transition: background 0.3s ease, border-color 0.3s ease;
}

.oauth a:hover {
  background: #01cf9e;
  color: #fff;
  text-decoration: none;
}

.table-hover {
  cursor: pointer;
}

.table-content {
  padding-left: 10px;
}
.navbar-inverse {
  background-color: #fa0;
  border-color: #fa0;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
  background-color: #fa0;
}

/* Header */
.header-placeholder { 
  height: 60px;
}

.bs-header {
  padding: 0 0 0 0;
  height: 60px;
  background-color: #ffaa00;
}
#app-heading {
  float: left;
  font-size:20px;
  text-decoration: none;
  font-family: Roboto;
  text-align: left;
  text-decoration: none !important;
  margin-top: 5px;
}
.footer.footer {
  font-size:20px;
  color: white;
  background-color: #fa0;
}
.centerText {
  padding: 30px;
  vertical-align:middle;
  text-align:center;
}

/* unvisited link */
a:link {
  color: #FFFFFF;
}

/* visited link */
a:visited {
  color: #FFFFFF;
}
/* mouse over link */
a:hover {
  color: #FFFFFF;
}

/* selected link */
a:active {
  color: #FFFFFF;
}

.line {
  content: ' ';
  display: block;
  width: 100%;
  height: 2px;
  margin-bottom: 10px;
  background: -moz-linear-gradient(left, rgba(147,184,189,0) 0%, rgba(147,184,189,0.8) 20%, rgba(147,184,189,1) 53%, rgba(147,184,189,0.8) 79%, rgba(147,184,189,0) 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(147,184,189,0)), color-stop(20%,rgba(147,184,189,0.8)), color-stop(53%,rgba(147,184,189,1)), color-stop(79%,rgba(147,184,189,0.8)), color-stop(100%,rgba(147,184,189,0)));
  background: -webkit-linear-gradient(left, rgba(147,184,189,0) 0%,rgba(147,184,189,0.8) 20%,rgba(147,184,189,1) 53%,rgba(147,184,189,0.8) 79%,rgba(147,184,189,0) 100%);
  background: -o-linear-gradient(left, rgba(147,184,189,0) 0%,rgba(147,184,189,0.8) 20%,rgba(147,184,189,1) 53%,rgba(147,184,189,0.8) 79%,rgba(147,184,189,0) 100%);
  background: -ms-linear-gradient(left, rgba(147,184,189,0) 0%,rgba(147,184,189,0.8) 20%,rgba(147,184,189,1) 53%,rgba(147,184,189,0.8) 79%,rgba(147,184,189,0) 100%);
  background: linear-gradient(left, rgba(147,184,189,0) 0%,rgba(147,184,189,0.8) 20%,rgba(147,184,189,1) 53%,rgba(147,184,189,0.8) 79%,rgba(147,184,189,0) 100%);
}

.upperRow {
  margin-right: 10px;
  display:inline-block;
}
