<h1 ng-cloak> Välkommen {{username}}! </h1>
<div ng-repeat="entry in entries | orderBy : '-created'">
	<div class="row featurette">
		<div class="col-md-1">
			<img class="featurette-image img-responsive table-image" ng-src="img/loaders/loader.gif" alt="Image not found.">
		</div>
		<div class="col-md-3 alignme" ng-cloak>
			<p class="upperRow">{{ entry.coach }}</p>
			<p class="upperRow">{{ entry.horseName }}</p>
			<p class="upperRow">{{ entry.activity }}</p>
			<p>{{ entry.message }}</p>
			<p>{{ entry.created.toUTCString() }}</p>
		</div>
	</div>
	<span class="line"></span>
</div>